<div class="mb-3 ">
  <label [for]="label" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">
    {{label | translate}}
  </label>

  <div class="d-flex flex-column">

    @if(type === 'select'){
    <p-select class="  mb-2" [formControl]="control" inputId="status" [options]="options" optionLabel="label"
      optionValue="value" placeholder="Select a value" fluid />


    }@else if(type === 'radio'){
    <div class="flex flex-wrap gap-4 mb-2">
      @for (option of options; track option.value) {
      <div class="flex align-items-center">
        <p-radioButton [formControl]="control" [name]="label" [value]="option.value" [inputId]="option.label" />

        <label [for]="option.label" class="ml-2 cursor-pointer">
          {{ option.label | translate }}
        </label>
      </div>
      }
    </div>
    }

    @else {
    <input class="  mb-2"
      pInputText [id]="label"
      [formControl]="control"
      [placeholder]="placeholder"
      [type]="type"
       (input)="onInput($event)"
      [class.ng-invalid-input]="control.invalid && control.touched" />
    }
    <div style="height: 16px; margin-top: -5px;">
      @if(control.invalid && control.touched){
      <p class="p-error" style="color: rgb(248, 73, 73);">
        {{ getErrorMessage() }}
      </p>
      }
    </div>
  </div>
</div>
